<div class="modal fade" id="commentsModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Article Comments:</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-addComment">
                <div class="form-control">
                    <h5>Add Comment:</h5>
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Title:</span>
                        </div>
                        <input type="text" class="form-control" id="addCommentTitle" placeholder="Enter comment title" aria-label="Enter comment title"
                            aria-describedby="addCommentTitle" required>
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Body:</span>
                        </div>
                        <textarea class="form-control" id="addCommentBody" aria-label="Body"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="margin: 0 auto">
                {{!--
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> --}}
                <button type="button" class="btn btn-sm btn-dark" id="addCommentBtn" data-article_id="">
                    <i class="material-icons">
                        note_add
                    </i>
                </button>
            </div>
        </div>
    </div>
</div>