<div class="modal fade" id="commentsModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Article Comments:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <hr>
            <div class="modal-addComment">
                <div class="form">
                    <label for="addCommentTitle">Comment Title:</label>
                    <input type="text" id="addCommentTitle">
                    <label for="addCommentBody">Comment Body:</label>
                    <input type="text" id="addCommentBody">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="addCommentBtn" data-article_id="">Add Comment</button>
            </div>
        </div>
    </div>
</div>